body {
  background-color: #8842fa60;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 30px;
}

img {
  display: block;
  margin: 0 auto;
}
